<% content_for :head do %>
  <meta name="title" content="<%=@recipe.recipe_name %>">
  <meta name="description" content="「<%= @recipe.recipe_name %>」に関する情報です">
<% end %>

<div class="container">
  <div class="row">
    <div class="col-sm-2 project-user-profile">
      <% if @recipe.recipe_name.present? %>
        <h4><%= @recipe.recipe_name %></h4>
      <% end %>
      <% if @recipe.user != nil %>
      <h4><%= @recipe.user.username %></h4>
        <!-- image -->
        <% if @recipe.user.remote_avatar != nil %>
          <%= link_to image_tag(@recipe.user.remote_avatar , alt: @recipe.user.username), user_path(@recipe.user) %>
        <% elsif @recipe.user.avatar.url != nil %>
          <%= link_to image_tag(@recipe.user.avatar.url , alt: @recipe.user.username), user_path(@recipe.user) %>
        <% else %>
          <%= link_to image_tag("/images/no_image.png" , alt: "No Image"), user_path(@recipe.user) %>
        <% end %>
      <% end %>

      <div>
        <% if current_user == @recipe.user && current_user != nil %>
            <%= link_to "レシピの編集", edit_recipe_path(@recipe), class: "btn btn-large btn-default" %>
        <% end %>
      </div>
    </div>
    <!-- Main Contents -->
    <div class= "col-sm-7">
      <div class="title">
        <h2><%= @recipe.recipe_name %></h2>
      </div>
      <% if @recipe.main_image.url != nil %>
        <%= image_tag(@recipe.main_image) %>
      <% else %>
        <%= image_tag("/images/no_image.png" , alt: "no image") %>
      <% end %>

      <!-- 材料表示(Ingredients) -->
      <div>
        <h3>材料・道具</h3>
        <% @recipe.ingredients.order("created_at asc").each do |ingredient| %>
          <p><%= ingredient.material_name %> <%= ingredient.qty %></p>
          <!-- 材料の写真表示 -->
          <% if ingredient.ing_image.url != nil %>
            <p><%= image_tag(ingredient.ing_image , alt: "image") %></p>
          <% else%>
            <p><%= image_tag("/images/no_image.png" , alt: "no image") %></p>
          <% end %>
        <% end %>
      </div>

      <!-- 手順表示(Steps) -->
      <div>
        <h3>手順</h3>
        <% @recipe.steps.order("created_at asc").each do |step| %>
        <!-- 材料の写真表示 -->
          <% if step.step_image.url != nil %>
            <p><%= image_tag(step.step_image , alt: "image") %></p>
          <% else %>
            <p><%= image_tag("/images/no_image.png" , alt: "no image") %></p>
          <% end %>
          <p><%= step.description %></p>
        <% end %>
      </div>
    </div>

  </div>
</div>
