<% content_for :head do %>
  <meta name="title" content="<%=@recipe.recipe_name %>">
  <meta name="description" content="「<%= @recipe.recipe_name %>」に関する情報です">
<% end %>

<div class="container">
  <div class="row">
    <div class="col-sm-2 project-user-profile">
      <% if @recipe.recipe_name.present? %>
        <h4><%= @recipe.recipe_name %></h4>
      <% end %>
      <% if @recipe.user != nil %>
      <h4><%= @recipe.user.username %></h4>
        <!-- image -->
        <% if @recipe.user.remote_avatar != nil %>
          <%= link_to image_tag(@recipe.user.remote_avatar , alt: @recipe.user.username), user_path(@recipe.user) %>
        <% elsif @recipe.user.avatar.url != nil %>
          <%= link_to image_tag(@recipe.user.avatar.url , alt: @recipe.user.username), user_path(@recipe.user) %>
        <% else %>
          <%= link_to image_tag("/images/user.jpg" , alt: "No Image"), user_path(@recipe.user) %>
        <% end %>
      <% end %>

      <div>
        <% if current_user == @recipe.user && current_user != nil %>
            <%= link_to "レシピの編集", edit_recipe_path(@recipe), class: "btn btn-large btn-default" %>
        <% end %>
      </div>
    </div>
    <!-- Main Contents -->
    <div class= "col-sm-7">
      <div class="title">
        <h2><%= @recipe.recipe_name %></h2>
        <%= render 'users/favorite_form' %>
      </div></br>
        <%= image_tag(@recipe.main_image) %>
      <!-- 材料表示(Ingredients) -->

      <table class="table table-hover">
      <h3>材料/道具</h3>
        <thead>
            <tr>
               <th>材料/道具名</th>
               <th>量・個数</th>
               <th>写真</th>
            </tr>
        </thead>
          <% @recipe.ingredients.order("created_at asc").each do |ingredient| %>
        <tbody>
            <td><%= ingredient.material_name %></td>
            <td><%= ingredient.qty %></td>
            <td>
              <!-- 材料の写真表示 -->
              <% if ingredient.ing_image.url != nil %>
               <%= image_tag(ingredient.ing_image , alt: "image") %>
              <% else%>
                <%= image_tag("/images/no_images.png" , alt: "no image") %>
              <% end %>
            </td>
          <% end %>
        </tbody>
      </table>

      <div><!-- 手順表示(Steps) -->
        <table class="table table-hover">
        <h3>手順</h3>
        <thead>
          <tr>
             <th>手順写真</th>
             <th>詳細</th>
          </tr>
        </thead>
            <% @recipe.steps.order("created_at asc").each do |step| %>
        <tbody>
            <td>
              <!-- 手順の写真表示 -->
              <% if step.step_image.url != nil %>
                <p><%= image_tag(step.step_image , alt: "image") %></p>
              <% else %>
                <p><%= image_tag("/images/no_images.png" , alt: "no image") %></p>
              <% end %>
            </td>
            <td><%= step.description %></td>
          <% end %>
        </tbody>
      </table
    </div>

  </div>
</div>
