<footer class="footer">
<ul class="navbar-nav">
  <li><%= link_to "Made In Meとは？", "#", class: "link"  %> | <%= link_to "利用規約", '#', class: "link"  %> | <%= link_to "プライバシーポリシー", "#", class: "link"  %> | <%= link_to "お問い合わせ", "#", class: "link" %></li><br/>
  <li>© <%= Date.today.year %> DIYou.com All right reserved.</li>
</ul>
</footer>