<footer class="footer">
<ul class="navbar-nav">
  <li><%= link_to "Made In Meとは？", diyou_about_path, class: "link"  %> | <%= link_to "利用規約", diyou_term_path, class: "link"  %> | <%= link_to "プライバシーポリシー", diyou_privacy_path, class: "link"  %> | <%= link_to "お問い合わせ", inquiry_path, class: "link" %></li><br/>
  <li>© <%= Date.today.year %> DIYou.com All right reserved.</li>
</ul>
</footer>