<!DOCTYPE html>
<html>
<head>
  <% if @recipe_title.present? %>
    <title><%= "#{@recipe_title} - DIYou" %></title>
  <% elsif @userName.present? %>
    <title><%= "#{@userName} さんのマイページ - DIYou" %></title>
  <% elsif @title.present? %>
    <title><%= "#{@title} - DIYou" %></title>
  <% else %>
    <title><%= 'DIYou' %></title>
  <% end %>
  <!-- #meta information -->
  <%= yield :head %>
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

</head>
<body>

<%= render partial: "layouts/header" %>

<%= render 'layouts/messages' %>

  <%= yield %>

<%= render partial: "layouts/footer" %>

